:root {
  --gray-0: #ffffff;  
  --gray-100: #FCFCFC;
  --gray-150: #EBEBEB;
  --gray-200: #EEEEEE;
  --gray-250: #F5F5F5;
  --gray-300: #4A4A4A;
  --gray-400: #4F4F4F;
  --gray-500: #6F6F6F;
  --gray-600: #7B7B7B;
  --gray-700: #6F7382;
  --gray-800: #0D0D0D;
  --gray-900: #0A1D39;
  --gray-1000: #000000;

  --primary-default: #1C71D3;
  --primary-red: #FF0000;
  --red-200: #FFEDED;

  --primary-font: "Inter", sans-serif;
  --second-font: "Space Grotesk", sans-serif;
}